/*nova edição*/

.pag1 img{
      
  background-position: center;

}
.fotobanner{
  background-position: center;
  margin-top: 55px;
}
  
  .element.style {
    width: 100%; 
  }

  .container-fluid{
    --bs-gutter-x: 2.5rem;
  }
  

  .card{
    margin-bottom: 15px;
    
    
  }
  .txtbanner {
    background-color: rgb(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
    color: rgb(255, 255, 255);
    margin-right: 5px;
    border-radius: 10px;
    width: 55%;
    position: absolute;
    margin-top: 200px;
    margin-left: 10%;

}

h1::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
}
.card-group {
  margin-top: 60px;
}
.botaocontatos{
  border: none;

}
.card-img-top {
  width: 10%;
}


@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

}
footer {
  background-color: #333; /* Cor de fundo grafite */
  color: #fff; /* Texto branco */
  padding: 20px; /* Espaçamento interno */
  position: relative; /* Fixar no rodapé */
  bottom: 0; /* Ficar na parte inferior da tela */
  width: 100%; /* Estender por toda a largura da tela */
  text-align: center; /* Centralizar o texto */
  left: 0;
  margin-top: 50px;
  }

  .falamsobremim{
    width: 50%;
  }
  .fundodosbanners{
   
    background-color: black;
    width: 100%;
    margin: 0px;
  }






    /*responsividade*/
  @media only screen and (max-width: 760px) {
    .txtbanner {
      background-color: rgb(0, 0, 0, 0.8);
      font-family: 'Courier New', Courier, monospace;
      font-size:large;
      color: rgb(255, 255, 255);
      margin-right: 5px;
      border-radius: 10px;
      width: 55%;
      position: absolute;
      margin-top: 100px;
      margin-left: 10%;

  }

  h1::after {
      content: '|';
      opacity: 1;
      margin-left: 5px;
      display: inline-block;
      animation: blink .7s infinite;
  }
  .pag1 img {
    background-position: center;
  }
  .fotobanner{
    background-position: center;
    margin-top: 55px;
  }

  .container-fluid{
    --bs-gutter-x: 2.5rem;
  
  }
  .fotodiplomas{
    width: 50%;
  
  }
  .card-img-top {
    width: 10%;
  }
}

